
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 0em;
  border:.2em solid #000000;
  background-color:#ccc;
  
}
.relative {
  position: relative;
  width: 6em;
  border: 3px solid #000000;
  padding-right: .5em;
  padding-left: .5em;
  padding-top: 0em;
  justify-content: center;
}
.p{
  padding: 1em;
  padding-top: 0em;
}
#chicken{
  color: #010101;
 background-color:  #f698e0;
}
#beef{
  color: #ffffff;
 background-color:  #ff0000;
}
#sushi{
color: #ffffff;
background-color:  #fff203;
}
@media screen and (min-width:1230){
  .column{
    margin: 2%;
  }
  .relative{
    left: 55%;
  }
}
@media screen and (min-width:1096px) and (max-width:1220px){
  .column{
    margin: 2%;
  }
  .relative{
    left: 65%;
  }
}
@media screen and (min-width: 1026px) and (max-width:1095px) {
  .relative{
    left: 65%;
  }
  .column{
    margin: 2%;
  }
}

@media screen and (min-width:992px) and (max-width:1025px){
 .relative{
   left: 63%;
 }
 .column{
    margin: 2%;
  }
}
@media screen and (min-width:767px) and (max-width:991px){
  .column{
    margin: 5%;
  }
  .relative{
   left: 65%;
 }
 #sushi{
   left: 84%;
 }
}
@media screen and (max-width:766px) {
.column{
  margin-bottom:5em;
  margin: 2em;
}
.relative{
   left: 55%;
 }
}
